// .cell{
//     width: calc(100% / 3);

//     display: flex;
//     align-items: center;
//     justify-content: center;
//     // background-color: #AFD6F8;
//     border: 10px solid #66DBF8;
//     font-size: 50px;
// }

.cell{
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 120px;
    cursor: pointer;

    border-right: 8px solid #66DBF8;
    border-bottom: 8px solid #66DBF8;

    &:nth-child(3n){
        border-right: 0;
    }

    &:nth-last-child(-n+3){
        border-bottom: 0;
    }
}