// reset
@import "vendor/reset";
// vars
@import "vars";

html, body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 10px;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

.btn{
    border-radius: 10px;
    border: 2px solid #66DBF8;
    background: transparent;
    color: black;

    transition: background .2s linear, color .2s linear;

    &:hover{
        background: #66DBF8;
        color: white;
    }

    &--start{
        padding: 8px 15px;
        font-size: 25px;
        margin-bottom: 40px;
    }
}

// Components
@import "components/container";
@import "components/header";
@import "components/main";
@import "components/game";
@import "components/board";
@import "components/cell";
@import "components/control";
